.grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: 
    1fr 1fr 1fr 1fr [five];
    grid-template-rows: 
    [row1-start] 150px 150px 150px 150px;
}
div{
    border: 1px solid black ;
}
.itemA{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: pink;
}

.itemB{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: pink;
}

.itemC{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: pink;
}
